<div matDialogTitle align="center" class="head">
  <img class="head__left" src="/assets/images/char_1.png" alt="" />新規登録
  <img class="head__right" src="/assets/images/char_2.png" alt="" />
</div>

<mat-dialog-content>
  <div class="sign-up">
    <button class="sign-up__btn" (click)="googleSignUp()">
      googleアカウントで登録
    </button>
    <button class="sign-up__btn" (click)="twitterSignUp()">
      twitterアカウントで登録
    </button>
    <button class="sign-up__btn" (click)="anonymouslyLogin()">
      匿名でログイン
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button matDialogClose>戻る</button>
</mat-dialog-actions>
