h2 {
  padding: 16px;
}

.title {
  text-align: center;
  margin: 32px auto;
}

.pager {
  text-align: center;
}

.swiper-slide {
  opacity: 0.3;
}

.swiper-slide-active {
  opacity: 1;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.search {
  margin-right: 64px;
  border: 1px solid rgba(black, 0.5);
  box-sizing: border-box;
  border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
  max-width: 320px;
  display: flex;
  position: relative;
  height: 40px;
  width: 250px;
  &:hover {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  }
  &__input {
    appearance: none;
    border: none;
    padding: 0px 40px 0px 16px;
    background: none;
    flex: 1;
    outline: 0;
  }
  &__button {
    color: rgba(black, 0.5);
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 16px;
    height: 30px;
    mat-icon {
      outline: 0;
      font-size: 32px;
      line-height: 1.2;
    }
  }
}

h2{
  text-align: center;
  margin-top: 24px;
  letter-spacing: 3px;
}

mat-divider {
  border-bottom: 8px;
}

.copyright {
  padding: 16px;
  text-align: center;
  color: rgba(black, 0.6);
}
