@import "~@angular/material/theming";

h2 {
  text-align: center;
  margin-top: 24px;
  letter-spacing: 3px;
  padding: 16px;
  color: rgba(#fff, 0.8);
}

.title {
  text-align: center;
  margin: 32px auto;
}

.pager {
  text-align: center;
}

.swiper-slide {
  opacity: 0.3;
}

.swiper-slide-active {
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.search {
  margin-right: 64px;
  border: 1px solid rgba(#fff, 0.8);
  box-sizing: border-box;
  border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
  max-width: 320px;
  display: flex;
  position: relative;
  height: 40px;
  width: 250px;
  &:hover {
    @include mat-elevation-transition;
    @include mat-elevation(2);
  }
  &__input {
    appearance: none;
    border: none;
    padding: 0px 40px 0px 16px;
    background: none;
    flex: 1;
    outline: 0;
    color: rgba(#fff, 0.8);
  }
  &__button {
    color: rgba(#fff, 0.8);
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 16px;
    height: 30px;
    outline: 0;
    cursor: pointer;
    mat-icon {
      outline: 0;
      font-size: 32px;
      line-height: 1.2;
    }
  }
}
.avatar {
  @include mat-elevation-transition;
  @include mat-elevation(2);
  background-color: rgba(white, 0.04);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 48px 64px;
  margin: 40px;
}
img {
  animation: shake 2.5s linear 0s infinite;
}
.letter {
  color: rgba(#fff, 0.7);
  font-size: 16px;
  letter-spacing: 1px;
}

@keyframes shake {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  20% {
    transform: scale(1, 1.01) translate(0%, -0.3%);
  }
  50% {
    transform: scale(1, 0.99) translate(0%, 0.3%);
  }
  65% {
    transform: scale(1, 1.01) translate(0%, -0.3%);
  }
  80% {
    transform: scale(1, 0.99) translate(0%, 0.3%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

mat-divider {
  border-bottom: 8px;
}

.copyright {
  padding: 24px;
  text-align: center;
  color: rgba(#fff, 0.8);
}
