.search {
  border: 1px solid rgba(black, 0.12);
  height: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  &:hover{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  }
  &__input {
    appearance: none;
    border: none;
    padding: 0px 40px 0px 16px;
    margin: 0px;
    background: none;
    outline: none;
    flex: 1;
  }
  &__button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 8px;
    height: 30px;
  }
}

mat-divider {
  border-bottom: 8px;
}
