@import 'mixins';
@import '~@angular/material/theming';

.wrap {
  text-align: center;
  padding: 24px;
  max-width: 100%;
  height: 100vh;
  background: url(../../../assets/images/bg.png) no-repeat center/cover;
  @include sp {
    width: 100%;
  }
}

.head {
  max-width: 80%;
  height: 40%;
  padding: 80px 0;
  margin: 48px 20% 48px 40%;
  color: #fff;
  @include sp {
    max-width: 100%;
    margin: 24px auto;
    padding: 80px 0;
  }
  @include sp-s {
    padding: 0;
    margin: 48px auto;
  }
  &__title {
    letter-spacing: 3px;
    @include sp {
      font-size: 24px;
    }
  }
  &__description {
    margin-bottom: 80px;
  }
}

.intro {
  font-size: 40px;
  letter-spacing: 8px;
  text-indent: 40px;
  @include tab {
    font-size: 32px;
    letter-spacing: 4px;
    text-indent: 32px;
  }
  @include sp {
    max-width: 100%;
    font-size: 30px;
    letter-spacing: 4px;
    text-indent: 15px;
  }
  @include sp-s {
    font-size: 24px;
    letter-spacing: 2px;
    text-indent: 8px;
  }
}

.login-nav {
  max-width: 80%;
  height: 40%;
  margin: 0 20% 2% 40%;
  @include sp {
    margin: 72px auto 48px;
  }
  @include sp-s {
    margin: 0 auto;
  }
  &__btn {
    display: block;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    width: 300px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #fff;
    transition: ease-in-out 0.3s;
    background: rgba(#fff, 0);
    color: #fff;
    cursor: pointer;
    outline: none;
    @include sp {
      width: 240px;
      height: 40px;
      border-radius: 20px;
      line-height: 40px;
      font-size: 14px;
      background: #fff;
      color: #303030;
    }
    @include sp-s {
      width: 196px;
      height: 32px;
      border-radius: 16px;
      font-size: 13px;
      line-height: 13px;
      margin: 0 auto 24px;
    }
    &:hover {
      background: #fff;
      color: #303030;
    }
  }
}

.seek {
  display: block;
  width: 98%;
  height: 6px;
  border-radius: 10px;
  background: #eee;
  opacity: 0.8;
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  &--footer {
    left: 1%;
  }
  @include sp {
    width: 90%;
    height: 4px;
  }
  @include sp-s {
    width: 90%;
    left: 5%;
    bottom: 7%;
  }
  &:before {
    content: '';
    display: block;
    width: 40%;
    height: 6px;
    border-radius: 10px;
    background: red;
    opacity: 0.8;
  }
  &:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: red;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.copyright {
  padding-top: 32px;
  color: #fff;
}

.description {
  width: 100%;
  height: 80vh;
  background: url(../../../assets/images/bg3.png) center/cover no-repeat;
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  &__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  &__image {
    width: 120px;
    margin: 0 auto;
  }
  &__char {
    width: 160px;
    margin: 0 auto;
    position: absolute;
    top: -56px;
    right: -56px;
  }
}

.message-box {
  width: 40%;
  height: 80%;
  border-radius: 6px;
  background: rgba(#fff, 0.3);
  position: relative;
  display: grid;
  place-content: center;
  margin: 48px;
  &--desc {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  &--feat1,
  &--feat2,
  &--feat3 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    span {
      display: block;
      font-size: 48px;
      color: #d81b60;
    }
  }
  &--feat1,
  &--feat3 {
    background: #212121;
    color: #eee;
  }
  &--end {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background: linear-gradient(60deg, #ec407a, #d81b60);
    color: #eee;
  }
}

.feature {
  width: 100%;
  height: 80vh;
  background: linear-gradient(60deg, #424242, #303030);
  position: relative;
  padding: 80px;
  display: flex;
  place-content: center;
  align-items: center;
  &:nth-of-type(2) {
    background: red;
    grid-row: reverse;
  }
  &__num {
    width: 160px;
    margin: 0 auto;
    position: absolute;
    top: -56px;
    left: -56px;
  }
  &__heading {
    font-size: 32px;
    margin-bottom: 48px;
  }
  &__body {
    line-height: 2;
  }
  &__image {
    width: 50%;
    &:nth-of-type(2) {
      max-width: 100%;
    }
  }
  &:nth-of-type(2) {
    background: #eee;
    flex-direction: row-reverse;
  }
  &:nth-of-type(3) {
    background: linear-gradient(60deg, #424242, #303030);
  }
  figure {
    position: relative;
  }
  &__face {
    font-size: 56px;
    &--good {
      position: absolute;
      top: 16px;
      left: 16px;
    }
    &--lagh {
      position: absolute;
      top: 0;
      right: 16px;
    }
    &--cry {
      position: absolute;
      top: 160px;
      left: 240px;
    }
    &--bad {
      position: absolute;
      top: 240px;
      right: 80px;
    }
    &--shock {
      position: absolute;
      top: 320px;
      left: 160px;
    }
  }
}

.end-copy {
  width: 100%;
  height: 80vh;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  position: relative;
  &__heading {
    margin-bottom: 48px;
  }
  &__char {
    width: 160px;
    margin: 0 auto;
    position: absolute;
    top: 120px;
    right: 120px;
    animation: shake 1s linear 0s infinite;
  }
  &__char--2 {
    width: 160px;
    margin: 0 auto;
    position: absolute;
    bottom: 96px;
    left: 120px;
    animation: shake 1s linear 0s infinite;
  }
}

@keyframes shake {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  20% {
    transform: scale(1, 1.01) translate(-2%, -1%);
  }
  50% {
    transform: scale(1, 0.99) translate(2%, 1%);
  }
  65% {
    transform: scale(1, 1.01) translate(2%, -1%);
  }
  80% {
    transform: scale(1, 0.99) translate(-2%, 1%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.action {
  width: 100%;
  height: 80vh;
  background: url(../../../assets/images/bg4.png) no-repeat center/cover;
  position: relative;
  display: grid;
  place-content: center;
  &__heading {
    max-width: 80%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 10px;
    text-indent: 48px;
    color: #fafafa;
    margin: 0 auto 120px;
  }
  &__btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  button {
    margin-left: 24px;
  }
}

footer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
