<div class="wrap">
  <h1>YouTube Room</h1>
  <div class="description">
    <p>誰かと見るYouTube</p>
  </div>

  <p class="intro">チャットでファンと思いを共有しましょう</p>

  <div class="login">
    <button
      class="login__btn"
      [disabled]=""
      mat-raised-button
      color="primary"
      (click)="anonymouslyLogin()"
    >
      匿名でログイン
    </button>

    <button
      class="login__btn"
      [disabled]=""
      mat-raised-button
      color="primary"
      (click)="googleLogin()"
    >
      googleアカウントでログイン
    </button>
    <button
      class="login__btn"
      [disabled]=""
      mat-raised-button
      color="primary"
      (click)="twitterLogin()"
    >
      twitterアカウントでログイン
    </button>
  </div>

  <footer>
    <mat-divider></mat-divider>
    <p class="copyright">&copy; 2020 YoutubeRoom Inc</p>
  </footer>
</div>
