.wrap {
  text-align: center;
  font-size: 14px;
  font-family: Helvetica;
  padding: 24px;
}

.container{
  padding: 0 24px;
}

h1 {
  line-height: 1;
  margin-bottom: 24px;
}

img {
  display: block;
  max-width: 100%;
}

p{
  color: rgba(black, .6);
  margin-bottom: 16px;
}

.name-input{
  width: 50%;
}

button{
  margin-bottom: 32px;
}

mat-divider{
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.copyright{
  padding: 16px;
}
