.wrapper {
  padding: 0 24px 80px;
}

.grid {
  display: grid;
  grid-template-columns: 20% 60% 18%;
}

.users {
  padding: 24px;
  &__user {
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 40px;
    height: 40px;
  }
  &__comment {
    color: #212121;
  }
  &__head {
    margin-right: 16px;
    text-align: center;
  }
}

.baloon {
  width: 64px;
  height: 40px;
  background: #eceff1;
  border-radius: 20%;
  position: relative;
  padding: 20px;
  display: grid;
  place-items: center;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -14px;
    top: 25px;
    border-right: 15px solid #eceff1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.room {
  padding: 24px;
  &__display {
    width: 100%;
    height: 600px;
    background: #212121;
    position: relative;
    youtube-player {
      pointer-events: none;
    }
  }
  &__next-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 24px 0;
  }
  &__next-item {
    width: 100%;
    height: 100px;
    background: #212121;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 24px;
  }
  &__action-icon {
    font-size: 24px;
  }
}

.users {
  display: grid;
  grid-template-columns: repeat(2, minmax(184px, 1fr));
  gap: 16px;
}

.comment {
  width: 100%;
  height: 40px;
  mat-form-field {
    width: 100%;
  }
}

.channel {
  width: 100%;
  height: 160px;
  background: #212121;
  margin: 24px 24px 24px 0;
  padding: 16px;
  color: #fff;
  &__header {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #424242;
    margin: 0 8px 16px 0;
  }
  &__name {
    font-size: 16px;
    line-height: 16px;
  }
}

.chat-line {
  width: 100%;
  height: 600px;
  background: #eceff1;
  padding: 16px;
  &__head {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  &__comment {
    padding: 8px;
    color: #212121;
  }
}

.action {
  &__icon {
    position: absolute;
    bottom: 16px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    &--g {
      bottom: 16px;
    }
    &--b {
      bottom: 48px;
    }
    &--c {
      bottom: 80px;
    }
    &--l {
      bottom: 112px;
    }
    &--s {
      bottom: 144px;
    }
  }
}
