<mat-toolbar>
  <a routerLink="/top" class="header__logo" mat-button>YOUTUBEROOM</a>
  <span class="spacer"></span>
  <button class="logout" mat-button (click)="logout()">ログアウト</button>
</mat-toolbar>

<div class="wrapper">
  <div class="grid">
    <div class="users">
      <div
        @fade
        @bounce
        *ngFor="let member of members$ | async"
        class="users__user"
        cdkDrag
      >
        <div class="users__head" *ngIf="member || member.isActive">
          <img
            class="users__avatar"
            src="/assets/images/char_{{ member.avatarId }}.png"
            alt=""
          />
          <p class="users__name">{{ member.name }}</p>
        </div>
        <div class="users__message" *ngIf="messages">
          <div class="balloon" *ngFor="let message of messages[member.uid]">
            <div class="balloon__inner">{{ message }}</div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="room$ | async as room">
      <div *ngIf="room.isCreating === true; else nowLoading">
        <div class="youtube">
          <div class="youtube__display">
            <youtube-player
              width="100%"
              hight="100%"
              [videoId]="id"
              (ready)="savePlayer($event)"
              [playerVars]="playerVars"
              allowfullscreen
            >
            </youtube-player>
          </div>
          <div class="action">
            <p class="action__icon action__icon--g" @fade @float *ngIf="isGood">
              😍
            </p>
            <p class="action__icon action__icon--b" @fade @float *ngIf="isBad">
              😤
            </p>
            <p class="action__icon action__icon--c" @fade @float *ngIf="isCry">
              😭
            </p>
            <p class="action__icon action__icon--l" @fade @float *ngIf="isLagh">
              🤣
            </p>
            <p
              class="action__icon action__icon--s"
              @fade
              @float
              *ngIf="isSuprise"
            >
              😲
            </p>
          </div>
        </div>
      </div>
      <ng-template #nowLoading>
        <mat-spinner
          class="loading"
          diameter="56"
          strokeWidth="2"
        ></mat-spinner>
        <p class="loading__text">動画取得中です。しばらくお待ち下さい。</p>
      </ng-template>
      <div class="youtube__action">
        <button
          mat-fab
          class="youtube__action-icon"
          type="button"
          (click)="good()"
        >
          😍
        </button>
        <button
          mat-fab
          class="youtube__action-icon"
          type="button"
          (click)="bad()"
        >
          😤
        </button>
        <button
          mat-fab
          class="youtube__action-icon"
          type="button"
          (click)="cry()"
        >
          😭
        </button>
        <button
          mat-fab
          class="youtube__action-icon"
          type="button"
          (click)="lagh()"
        >
          🤣
        </button>
        <button
          mat-fab
          class="youtube__action-icon"
          type="button"
          (click)="surprise()"
        >
          😲
        </button>
      </div>
    </ng-container>

    <div class="right">
      <div class="channel" *ngIf="room$ | async as room">
        <div class="channel__header">
          <figure class="channel__logo">
            <img [src]="" alt="" />
          </figure>
          <h2 class="channel__name">{{ room.title }}</h2>
        </div>
        <div class="channel__body">
          <div class="channel__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt,
            veniam.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Sunt, veniam. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Sunt, veniam.Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Sunt, veniam.
          </div>
        </div>
      </div>

      <div class="chat">
        <div class="chat-line" *ngIf="allMessages$">
            <div
              class="chat-line__body"
              *ngFor="let message of allMessages$ | async"
            >
              <div class="chat-line__head">
                <img
                  class="chat-line__avatar"
                  src="/assets/images/char_{{ message.avatarId }}.png"
                  alt=""
                />
                <div class="chat-line__name">{{ message.userName }}</div>
                <div class="chat-line__date">
                  {{ message.createdAt.toDate() | date: 'M/d HH:mm:ss' }}
                </div>
              </div>
              <div class="chat-line__comment">{{ message.comments }}</div>
            </div>
        </div>
        <div class="comment">
          <form
            class="comment__form"
            *ngIf="user$ | async as user"
            [formGroup]="form"
            (ngSubmit)="sendMessage()"
          >
            <mat-form-field>
              <mat-label>チャット</mat-label>
              <input
                type="text"
                formControlName="comments"
                matInput
                autofocus
                autocomplete="off"
                required
                #body
              />
              <button
                matSuffix
                mat-icon-button
                [disabled]="form.invalid || form.pristine"
              >
                <mat-icon>send</mat-icon>
              </button>
              <mat-error *ngIf="form.hasError('required')"
                >必須入力です</mat-error
              >
              <mat-error *ngIf="form.hasError('maxlength')"
                >最大文字数を超えています</mat-error
              >
              <mat-hint align="end"
                >{{ body.value.length }}/140文字まで</mat-hint
              >
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="actions-btn">
      <a mat-raised-button color="primary" routerLink="/top">他の部屋を探す </a>
      <button color="accent" mat-raised-button (click)="setVideo()">
        みんなで再生を始める
      </button>
    </div>
  </div>
</div>
