<div class="wrap">
  <div class="container">
    <h2 class="heading">1.アバターを選択しましょう</h2>

    <div class="swiper">
      <swiper [config]="config" [(index)]="selectedId">
        <div *ngFor="let avatarId of avatarIdArray" class="swiper-slide">
          <img src="/assets/images/char_{{ avatarId }}.png" alt="" />
        </div>
      </swiper>
      <div class="pager"></div>
    </div>

    <h2 class="heading">2.ニックネームを入力しましょう</h2>
    <form class="name-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>ニックネーム</mat-label>
        <input formControlName="name" placeholder="ニックネーム" type="text" autocomplete="off" matInput required #input />
        <mat-hint align="end">
          <p>{{ input.value.length }} / 8</p>
        </mat-hint>
        <mat-error *ngIf="nameControl.hasError('required')">必須入力です</mat-error>
        <mat-error *ngIf="nameControl.hasError('maxlength')">
          <p>長すぎます</p>
        </mat-error>
      </mat-form-field>
      <button class="submit" [disabled]="form.invalid" mat-raised-button color="primary">
        はじめる
      </button>
    </form>
  </div>
</div>
