.wrap {
  text-align: center;
  padding: 24px;
  height: 100vh;
  background: url(../../../assets/images/bg2_1.jpg) no-repeat center/cover;
}

.heading {
  text-align: center;
  margin: 32px auto;
  color: #303030;
}

.pager {
  display: flex;
  place-content: center;
  gap: 8px;
  text-align: center;
  margin-bottom: 80px;
}

.swiper-slide {
  opacity: 0.3;
}

.swiper-slide-active {
  opacity: 1;
}

.name-form {
  width: 80%;
  text-align: center;
  margin: 48px auto 80px;
  input {
    color: #303030;
  }
}
mat-form-field {
  width: 80%;
}
