.title {
  text-align: center;
  margin: 32px auto;
}

.pager {
  text-align: center;
  margin-bottom: 48px;
}

.swiper-slide {
  opacity: 0.3;
}

.swiper-slide-active {
  opacity: 1;
}

.name-form {
  text-align: center;
  margin-bottom: 48px;
}
